{% extends "base.html.twig" %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ current|capitalize }}
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{{ url('home') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> {{ current|capitalize }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
            
        <div class="row">
            <div class="col-xs-12">
                <form id="formEmpresa" role="form">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input id="nombre" value="{{ empresa.nombre is defined ? empresa.nombre : '' }}" class="form-control" placeholder="Ingresar nombre">
                    </div>
                    <div class="form-group">
                        <label>Cuit</label>
                        <input id="cuit" value="{{ empresa.cuit is defined ? empresa.cuit : '' }}" class="form-control" placeholder="Ingresar cuit">
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input id="direccion" value="{{ empresa.direccion is defined ? empresa.direccion : '' }}" class="form-control" placeholder="Ingresar dirección">
                    </div>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <div class="text-center" style="margin-bottom: 10px;"><button id="btnGuardar" data-id="{{ empresa.id }}" type="button" class="btn btn-lg btn-primary">Guardar</button></div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}